<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rickyxe.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="rickyxe.demo.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="rickyxe.demo.bgwork.BackgroundWorkActivity" />
        <activity android:name="rickyxe.demo.bgwork2.BackgroundWorkActivity2" />
        <activity android:name="rickyxe.demo.dialogexample.DialogTestActivity" />
        <activity android:name="rickyxe.demo.contactpick.ContactPickActivity" />
        <activity android:name=".lifecycledemo.LifecycleDemoActivity" />
        <activity android:name=".constraintdemo.ConstraintDemoActivity"/>
        <activity android:name=".mvp.demo1.MvpDemoActivity"/>
        <activity android:name=".mvp.demo2.MvpDemoActivity2"/>

        <service android:name="rickyxe.demo.bgwork.BackgroundService" />
        <service android:name="rickyxe.demo.bgwork2.BackgroundService2" />


    </application>

</manifest>